.mainpage {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: rgb(11, 250, 230);
}

.mainpage__content {
  padding: 0 25px 50px 25px;
  background-color: #4962b3;
}
