@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.mainpage {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 80%;
  padding: 3rem;
}

.text-caro {
  width: 60%;
  z-index: 99;
}

.h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
}

.caption {
  color : rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.star {
  font-size: 2rem;
  color: #ffbc0b;
}

.buttons {
  margin: 1rem auto;
  text-align: center;
}

.btn {
  margin: 1rem;
  padding: 1rem 1.5rem ;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: #fff;
  background-image: linear-gradient(to right, #000000, #080808, #101010, #151515, #1a1a1a);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}