.imageCarousel {
  display: flex;
  justify-content: end;
}

.imageCarouselSecondary {
  display: none;
}

@media screen and (max-width:900px) {
  .imageCarousel {
    display: none;
  }
  .imageCarouselSecondary {
    display: flex;
    justify-content: center;
  }
}