@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.menu {
  background: #191a22;
  color: #fff;
  padding: 0.6rem 1.25rem;
  font-family: "Roboto", sans-serif;
}

.leftNav,
.rightNav {
  display: inline-block;
}

.rightNav {
  float: right;
}

.icon {
  display: inline-block;
  position: relative;
  width: auto;
  padding-left: 30px;
  vertical-align: middle;
  font-weight: bold;
  background-image: url("https://www.iconsdb.com/icons/preview/white/phone-68-xxl.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.menu ul,
.menu li {
  margin: 0 auto;
  list-style: none;
}

.logo-image:hover {
  pointer-events: none;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

.menu li a::after {
  background: none repeat 0 0 transparent;
  margin: 5px 0 0 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.menu li a:hover::after {
  width: 100%;
  left: 0;
}

.menu ul .sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #191a22;
  position: absolute;
  z-index: 99;
  display: none;
}

.menu ul.sub-menus li {
  display: block;
  width: 100%;
}

.arrow {
  margin: 5px;
  width: auto;
  height: 0;
}

.menu ul.sub-menus a {
  color: #ffffff;
  font-size: 0.9rem;
}

.menu li:hover ul.sub-menus {
  display: block;
}

.menu ul.sub-menus a:hover {
  background: #191a22;
  color: #ffffff;
  transition: 0.5s ease;
}

.mobile:hover {
  /* color: #f79f52; */
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 800px) {
  .menu {
    position: relative;
  }
  .menu ul {
    background: 0.111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }
  .menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  .menu ul.sub-menus a {
    padding-left: 30px;
  }
  .menu li {
    display: block;
    float: none;
    width: auto;
  }
}
