.container {
  background: url(../images/Faq1.jpg);
  background-size: cover;
  background-position: cover;
  box-sizing: border-box;
  padding: 2rem 1rem;
  height: 70%;
  /*background-color: #6d6875;*/
}


h1 {
  text-align: center;
  margin: 2rem 0 2rem 0;
  color: #f9fafa;
  animation: glowing 20s linear infinite;
  font-size: 2rem;
}

.accordion {
  max-width: 800px;
  margin: 2rem auto;
  
}

.accordiontitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color:#5e6161;
  color: white;
  font-size: 1.2rem;
  border: 3px solid ;
  border-color: rgb(247, 243, 243);
  
}

.accordiontitle:hover {
  background-color: #5e6161;
}

.accordiontitle,
.accordioncontent {
  padding: 1rem;
  border-radius: 10px;
 
}

.accordioncontent {
  background-color: #f0eeee;
  border-left: 5px solid rgb(235, 108, 108);
  transition: 2s;
}

