@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.contact {
  background-size: cover;
  background-position: cover;
  box-sizing: border-box;
  padding: 2rem 1rem;
  display: flex;
  height: 70%;
}
@media screen and (min-width : 768px) and (max-width : 900px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width : 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviews {
    width: 100%;
  }
}



.reviews {
  display: inline-block;
  width: 60%;
  height: 20%;
  margin-right: 5%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
}
.name-section {
 display: inline-block;
}
.photo-section {
  display: inline-block;
  margin: 0 5%;
}
.user-image {
  display: flex;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.review1 {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1rem;
  border-radius: 10px;
}
.star {
  color: #ffbc0b;
}
h1 {
  font-weight: 900;
}
.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
}
.box {
  width: 70%;
  height: 85%;
  font-size: 1rem;
  padding: 2.5rem;
  background: #191a22;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}
.user {
  margin-top: 50px;
}
.fas {
  color : #ffffff;
  position: absolute;
}
input {
  width: 90%;
  margin-bottom: 1.6rem;
  padding: 0px 1.9rem 1rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #555;
  outline: none;
  background-color: #191a22;
  color: #fff;
}
input:focus {
  border-bottom: 1px solid #EEEEEE;
}
.submit-btn {
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  border: none;
  display: block;
  width: 60%;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  color: #fff;
  background-image: linear-gradient(to right, #000000, #080808, #101010, #151515, #1a1a1a);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}