.footer-box {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: rgb(252, 5, 5);
}

.box {
  padding: 0 25px 50px 25px;
  background-color: #494040;
}
